body {
  font: normal 1.125em/1.55 'Lato',Tahoma,sans-serif;
  color: #515658;
  margin: 0 auto;
}
h1 {
  padding: 1.5rem 0;
}
h2 {
  font-weight: 600;
  padding: 1.2rem 0;
}
h3 {
  padding: 1rem 0;
  font-weight: 600;
}
h4 {
  padding: .9rem;
}
nav {
  background-color: rgba(37,84,102, 0.9);
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
nav h3 {
  padding: 0;
  margin-left: 2.5rem;
}
#logo {
  color: #68e376;
  font-family: 'copperplate gothic light';
  font-weight: 600;
  font-size: 2.5rem;
  font-variant: small-caps;
}
nav ul {
  max-width: 55rem;
  display: flex;
}

nav li {
  padding: .5rem 1rem;
}
nav li a {
  color: #fff;
  font-weight: 300;
  letter-spacing: .05rem;
}
nav li a:hover {
  color: yellow;
  font-weight: 600;
}

#hero {
  width: 100%;
  position: relative;
  padding: 8%;
}
#hero:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .6;
  background-image: url('images/img-banner-lg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  box-shadow: rgba(0,0,0, .9) 0 0.05rem 0.1rem 0.04rem;
}
#hero-text {
  font-weight: 100;
  text-align: center;
  color: #fff;
  max-width: 55rem;
  margin: 0 auto;
  font-style: italic;
  letter-spacing: .25rem;
}
main {
  max-width: 55rem;
  padding: 2rem 1.5rem;
  margin: 0 auto;
  box-shadow: rgba(0,0,0, .2) 0.01rem 0.01rem 0.9rem 0.01rem;
}
main #to-top {
  color: #000000;
  background-color: rgba(70, 73, 74, .2);
  border: .01rem #d0d0d0 solid;
  border-radius: 1rem;
  font-weight: 600;
  opacity: .7;
  padding: .1rem .6rem;
  position: fixed;
  bottom: 5%;
  right: .5%;
  outline: 0;
}
main section {
  margin: 1.5rem 0;
}
#services ul {
  padding-bottom: 1rem;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}
#services li {
  border: .05rem solid rgba(0,0,0, .2);
  border-radius: .1rem;
  width: 30%;
  display: flex;
  margin: 1% auto;
}
#services li:hover {
  box-shadow: rgba(0,0,0, .2) 0.02rem 0.1rem 0.1rem 0.07rem;
  transition: box-shadow, .3s, ease-out;
}
#services ul:after {
  display: block;
  clear: both;
  overflow: auto;
  margin-bottom: 1rem;
}
#services figcaption {
  padding-top: .5rem;
  text-align: center;
  font-size: .9rem;
  font-weight: 600;
}
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 999;
  opacity: 0;
  transition: opacity .2s ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog > div {
  max-width: 25rem;
  position: relative;
  margin: 10% auto;
  padding: .5rem;
  border-radius: .6rem;
  background: #fff;
}
.close {
  background: #606061;
  color: #fff;
  line-height: 1.5rem;
  position: absolute;
  right: -.75rem;
  text-align: center;
  top: -.625rem;
  width: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: .75rem;
  -moz-border-radius: .75rem;
  border-radius: 1rem;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close:hover { 
  background: #ff335b;
}

form {
  color: inherit;
  margin: 1rem auto;
  padding-top: .9rem;
  border: .01rem #d0d0d0 solid;
  border-radius: .25rem;
  box-shadow: rgba(0,0,0, .2) 0 0 .8rem 0.1rem;
  width: 100%;
  background-color: #f9f9f9;
}
form label {
  display: block;
  padding: .7rem 1.5rem;
}
form input,
form textarea {
  padding: 0.5rem;
  border-bottom: .01rem #d0d0d0 solid;
  width: 100%;
  background-color: #f9f9f9;
}
input:hover,
textarea:hover {
  border-bottom: .1rem #407b4e solid;
}
input:focus,
textarea:focus {
  border-bottom: .1rem #407b4e solid;
  box-shadow: 0 0.1rem .6rem .1rem #d0d0d0;
  border-radius: .2rem;
  background-color: #fff;
}
form textarea {
  height: auto;
  resize: vertical;
  padding-bottom: 1rem;
  vertical-align: center;
}
form button {
  margin: .5rem 0 1.5rem 1.5rem;
  padding: .6rem 1.2rem;
  border-radius: .25rem;
  color: #fff;
  background-color: #407b4e;
  text-shadow: rgba(0,0,0, .6) 0 0.08rem 0.1rem;
  font-size: .9rem;

}
/*form submission message*/
/*.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}*/
footer {
  background-color: #46494A;
}
footer p {
  max-width: 55rem;
  padding: 2rem;
  margin: 0 auto;
  font-size: .7rem;
  color: #fff;
}
/*media queries*/
@media (max-width: 40.625rem) {
  #hero {
    padding: 5%;
  }
  nav ul {
    display: none;
  }
  #services li {
    width: 48%;
    margin-bottom: .8rem;
  }
}
@media (max-width: 31.875rem) {
  #hero-text {
    font-size: .85rem;
    padding: 3%;
  }
  #services li {
    width: 100%;
  }
}
@media (max-width: 26.25rem) {
  #hero-text {
    font-size: .595rem;
  }
}
