body {
  font: normal 1.125em/1.55 'Lato',Tahoma,sans-serif;
  color: #515658;
  margin: 0 auto;
}
h1 {
  font-size: 3em;
  padding: 1.5rem 0;
}
h2 {
  font-size: 2.5em;
  padding: 1.2rem 0;
}
h3 {
  font-size: 2em;
  padding: 1rem 0;
}
h4 {
  font-size: 1.5em;
  padding: .9rem;
}
/*#page-header {
  width: 100%;
  background-image: url('../images/img-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  padding-bottom: 15%;
}*/
#logo a {
  color: #68e376;
  font-family: 'copperplate gothic light';
  font-variant: small-caps;
  /*  text-indent: -9999px;
  width: 9.5rem;
  height: 3.5rem;
  background-image: url('../images/logo3.png');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: left top;*/
}
nav {
  background-color: rgba(10,10,10, .5);
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
nav h3 {
  padding: 0;
}
nav ul {
  max-width: 55rem;
  display: flex;
}

nav li {
  padding: 1em;
}
nav a {
  color: #70ad47;/*F9F4F4*/
  font-weight: 700;
  letter-spacing: .05rem;
}
nav a:hover {
  color: #fff;
}

#hero {
  width: 100%;
  /*background-image: url('../images/img-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;*/
  padding: 10%;
  position: relative;
}
#hero:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .6;
  background-image: url('../images/img-banner-lg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}
#hero-text {
  font-weight: 100;
  text-align: center;
  color: #fff/*2B84A7*/;
  max-width: 55rem;
  margin: 0 auto;
  font-style: italic;
  letter-spacing: .25rem;
 /* position: relative;
  top: 50%;*/
  transform: translateY(30%);
}
main {
  max-width: 55rem;
  padding: 3rem 2.5rem;
  margin: 0 auto;
}
footer {
  background-color: #46494A;
}
footer p {
  max-width: 55rem;
  padding: 2rem;
  margin: 0 auto;
  font-size: .7rem;
  color: #fff;
}